<ol>
    <li>
        <a class="dropdown-item"
           href="{% url 'fv-annuity-factor-end-year-payment' %}"
        > FV Annuity Factor End-Year Payment </a>
    </li>

    <li>
        <a class="dropdown-item"
           href="{% url 'fv-annuity-factor-start-year-payment'%}"
        >FV Annuity Factor Start-Year Payment</a>
    </li>

    <li>
        <a class="dropdown-item"
           href="{% url 'pv-annuity-factor-end-year-payment' %}"
        >PV Annuity Factor End-Year Payment</a>
    </li>

    <li>
        <a class="dropdown-item"
           href="{% url 'pv-annuity-factor-start-year-payment' %}"
        >PV Annuity Factor Start-Year Payment</a>
    </li>
</ol>