<ol>
    <li>
        <a class="dropdown-item"
           href="{% url 'zero-coupon-bond-yield-to-maturity'%}"
        >Zero Coupon Bond Yield to Maturity
        </a>
    </li>

    <li>
        <a class="dropdown-item"
           href="{% url 'coupon-bond-yield-to-maturity' %}"
           >Coupon Bond Yield to Maturity
        </a>
    </li>

    <li>
        <a class="dropdown-item"
        href="{% url 'zero-coupon-bond-price' %}"
        >Zero Coupon Bond Price
        </a>
    </li>

    <li>
        <a class="dropdown-item"
           href="{% url 'coupon-bond-price' %}"
           >Coupon Bond Price
        </a>
    </li>

</ol>