<ol>
    <li>
            <a class="dropdown-item"
               href="{% url 'equal-installment-calculation' %}"
            >Equal Installment Repayment</a>
        </li>

    <li>
            <a class="dropdown-item"
               href="{% url 'equal-pp-calculation' %}"
            >Equal Principle Portion Repayment</a>
        </li>

        <li>
            <a class="dropdown-item"
               href="{% url 'equal-installment-changeable-ip-calculation' %}"
            >Equal Installment Changeable IP Repayment</a>
        </li>
</ol>